<script type="text/javascript" src="js/delete-api.js"></script>
<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col">
                    <div class="title">
                        <i class="uil uil-arrow"></i>
                        <span class="text table-title">All APIs</span>
                    </div>
                </div>
                <div class="col-4"> </div>
                <div class="col">
                    <a href="#addEmployeeModal" class="btn btn-secondary" data-toggle="modal">
                        <i class="uil uil-plus"></i><span>Add New API</span>
                    </a>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th class="text-center">
                        <!-- id ? -->
                    </th>
                    <th>Name</th>
                    <!-- <th>Description</th> -->
                    <th>Url</th>
                    <th>Category</th>
                    <th>Upload By</th>
                    <th>Upvotes</th>
                </tr>
            </thead>
            <tbody>
                <% apis.forEach(api=> { %>
                    <tr>
                        <td class="text-center">
                            <!-- count ? -->
                        </td>
                        <td>
                            <span class="data-list">
                                <%= api.name %>
                            </span>
                        </td>
                        <!-- <td>
                                <span class="data-list"><%= api.description %></span>
                        </td> -->
                        <td>
                            <span class="data-list">
                                <%= api.url %>
                            </span>
                        </td>
                        <td>
                            <span class="data-list">
                                <%= api.category %>
                            </span>
                        </td>
                        <td>
                            <span class="data-list">
                                <%= api.upload_by %>
                            </span>
                        </td>
                        <td>
                            <span class="data-list">
                                <%= api.upvotes %>
                            </span>
                        </td>
                        <td>
                            <a href="#editEmployeeModal" class="edit" data-toggle="modal">
                                <i class="uil uil-edit" data-toggle="tooltip" title="Edit"></i>
                            </a>
                            <a class="delete delete-api" style="cursor: pointer;" data-id=<%=api.id %>
                                data-toggle="modal">
                                <i class="uil uil-times-square" data-toggle="tooltip" title="delete"></i>
                            </a>
                        </td>
                    </tr>
                    <% });%>
            </tbody>
        </table>

    </div>
</div>