<div class="container">
  <div class="main" id="m-profile">
    <div class="row">
      <div class="col-md-8">
        <div class="card mb-3 content">
          <h1 class="m-3 pt-3">About me</h1>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <h4>Full name</h4>
              </div>
              <div class="col-mb-8 text-secondary">
                <%=user.firstName%>
                  <%=user.lastName%>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-md-4">
                <h4>Username</h4>
              </div>
              <div class="col-md-8 text secondary">
                <%=user.username%>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <h4>Email</h4>
              </div>
              <div class="col-md-8 text secondary">
                <%=user.email%>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-md-4">
                <h4>Birthday</h4>
              </div>
              <div class="col-md-8 text-secondary">
                <%=user.birthday%>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <h4>Gender</h4>
              </div>
              <div class="col-md-8 text secondary">
                <%=user.gender%>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="card mb-3 content">
          <h1 class="m-3">My Api</h1>
          <div class="card-body">
            <div class="row">
              <h5>Api name</h5>
            </div>
            <div class="col-md-9 text secondary">api description</div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>